/* 공통 미디어쿼리 */
@media screen and (min-width: 426px) {
  main section:nth-child(odd) .sectionTitle {
    text-align: left;
  }

  section .sectionTitle {
    text-align: right;
    font-weight: var(--font-sbw);
    margin-bottom: 40px;
  }

  /* 태블릿 ~ 노트북까지 동일 시작 */
  section .sectionTitle h2 {
    font-size: 50px;
  }
  
  section .sectionTitle h3 {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
  }
  /* 태블릿 ~ 노트북까지 동일 끝 */
}


/* 태블릿 미디어쿼리 */
@media screen and (min-width: 426px) and (max-width: 768px) {
  main section:nth-child(even) .sectionTitle {
    padding-right: 30px;
  }

  #introSection {
    height: 470px;
  }

  /* airportSection 동일 */

  
  #trafficSection .trafficWrap ul {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 3px;
  }
  
  #trafficSection .trafficWrap li {
    aspect-ratio: initial;
    height: 100px;
  }

  #trafficSection .trafficWrap li h4 {
    text-align: center;
  }
  
  #trafficSection .trafficWrap li img {
    left: 50%;
    right: 0;
    transform: translateX(-50%);
  }
}


/* 노트북 미디어쿼리 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  main section:nth-child(3), main section:nth-child(5) {
    padding: 0 50px;
  }

  main section:nth-child(even) .sectionTitle {
    padding-right: 50px;
  }

  #introSection {
    height: 700px;
  }
  
  #airportSection .guideList {
    width: 100%;
    margin-left: 0;
  }
  
  #airportSection .guideList > li {
    padding: 0;
    background: none;
  }
  
  #airportSection .guideWrap .toggleBtnWrap {
    display: none;
  }


  
  #trafficSection .trafficWrap ul {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 5px;
  }
  
  #trafficSection .trafficWrap li {
    aspect-ratio: initial;
    height: 120px;
  }
  
  #trafficSection .trafficWrap li a {
    width: 100%;
    height: 100%;
  }

  #trafficSection .trafficWrap li h4 {
    text-align: center;
  }
  
  #trafficSection .trafficWrap li img {
    width: 50px;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
  }

  #tipSection .tipList {
    width: 100%;
    justify-content: space-evenly;
    gap: 0;
  }

  #tipSection .tipList li:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease;
  }
}


/* pc ~ 4k 미디어쿼리 */
@media screen and (min-width: 1025px) {
  main section {
    margin-bottom: 0;
  }
  
  section .sectionTitle h2 {
    font-size: 80px;
  }
  
  section .sectionTitle h3 {
    font-size: 50px;
  }
  
  section:not(:first-child) {
    height: calc(100vh - 100px);
    padding: 80px 0;
    display: flex;
    flex-direction: column;
  }

  main section:nth-child(3), main section:nth-child(5) {
    padding: 80px 50px;
  }

  main section:nth-child(even) .sectionTitle {
    padding-right: 50px;
  }

  #introSection {
    height: 100vh;
  }

  #airportSection {
    padding-bottom: 0;
  }

  #airportSection .guideWrap {
    flex-grow: 1;
  }

  #airportSection .guideList {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
  
  #airportSection .guideList > li {
    width: calc(100% / 3);
    padding: 0;
    background: none;
  }
  
  #airportSection .guideList article {
    height: 100%;
    padding: 50px;
  }
  
  #airportSection .guideList article :where(h3, h4) {
    font-size: 50px;
  }
  
  #airportSection .guideList article h4 {
    font-size: 30px;
  }
  
  #airportSection .guideList article ul {
    margin-top: 40px;
  }

  #airportSection .guideList article a {
    width: 100%;
    height: 100%;
  }
  
  #airportSection .guideList article img {
    width: 80px;
    height: 80px;
    transition: transform 0.5s ease;
  }

  #airportSection .guideList article li:hover img {
    transform: rotateY(180deg);
  }
  
  #airportSection .guideList article ul p {
    font-size: var(--font-mlz);
  }

  #airportSection .guideWrap .toggleBtnWrap {
    display: none;
  }


  #trafficSection .trafficInfoWrap {
    display: flex;
    flex-direction: row;
    gap: 60px;
    flex-grow: 1;
  }

  #trafficSection .trafficInfoWrap article {
    width: 100%;
    height: 100%;
  }

  #trafficSection .busStateWrap {
    display: flex;
    flex-direction: column;
  }

  #trafficSection .busStateWrap h4 {
    font-size: var(--font-mlz);
  }

  #trafficSection .busStateWrap .busState {
    flex-grow: 1;
  }
  
  #trafficSection .busStateWrap .busState li:not(:last-child) {
    margin-bottom: 40px;
  }
  
  #trafficSection .busStateWrap .busState .busTitle {
    display: flex;
    justify-content: space-between;
  }
  
  #trafficSection .busState .busTitle p {
    font-size: var(--font-sz);
  }
  
  #trafficSection .trafficWrap ul {
    height: 100%;
  }

  #trafficSection .trafficWrap li {
    aspect-ratio: initial;
  }

  
#trafficSection .trafficWrap li:hover {
  background-color: var(--content-color);
  transition: background-color 0.5s ease;
}
  
  #trafficSection .trafficWrap li h4 {
    font-size: var(--font-mlz);
  }
  
  #trafficSection .trafficWrap li p {
    display: block;
    font-size: var(--font-smz);
    color: rgba(0, 0, 0, 0.5);
  }
  
  #trafficSection .trafficWrap li img {
    width: 80px;
  }

  #tipSection .tipList {
    width: 100%;
    justify-content: space-evenly;
    gap: 0;
  }

  #tipSection .tipList li {
    width: 200px;
    height: 400px;
    border-radius: 90px;
  }

  #tipSection .tipList li:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease;
  }

  #tipSection .tipList li:nth-child(odd):hover {
    transform-origin: top;
  }

  #tipSection .tipList li:nth-child(even):hover {
    transform-origin: bottom;
  }
  

  #tipSection .tipList :where(h4, p) {
    font-size: var(--font-mlz);
  }

  #tipSection .tipList li:nth-child(even) {
    margin-top: 140px;
  }

  footer p {
    font-size: var(--font-mlz);
  }
}