/* 공통 미디어쿼리 */
@media screen and (min-width: 426px) {
  header {
    height: 100px;
  }
}

/* 태블릿 미디어쿼리 */
@media screen and (min-width: 426px) and (max-width: 768px) {  
  .headerWrap {
    justify-content: space-between;
  }
  
  .headerWrap .logoWrap .logo img {
    height: 41px;
  }
  
  .headerWrap .quickMenu {
    width: fit-content;
    padding: 0;
    position: static;
  }

  .headerWrap .quickMenu ul {
    flex-direction: row;
    gap: 20px;
  }

  .headerWrap .quickMenu ul li:last-child {
    margin-left: 40px;
  }

  .headerWrap .quickMenu ul li img {
    height: 30px;
  }

  /* 모바일 다른 이모티콘 숨기기 */
  .headerWrap .quickMenu ul li:nth-child(-n+3) {
    display: flex;
  }
}

/* 노트북 미디어쿼리 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .headerWrap {
    justify-content: space-between;
  }
  
  .headerWrap .logoWrap .logo img {
    height: 41px;
  }
  
  .headerWrap .quickMenu {
    width: fit-content;
    padding: 0;
    position: static;
  }

  .headerWrap .quickMenu ul {
    flex-direction: row;
    gap: 30px;
  }

  .headerWrap .quickMenu ul li:last-child {
    margin-left: 30px;
  }

  .headerWrap .quickMenu ul li img {
    height: 30px;
  }

  /* 모바일 다른 이모티콘 숨기기 */
  .headerWrap .quickMenu ul li:nth-child(-n+3) {
    display: flex;
  }
}

/* pc ~ 4k 미디어쿼리 */
@media screen and (min-width: 1025px) {
  .headerWrap {
    justify-content: space-between;
  }
  
  .headerWrap .logoWrap .logo img {
    height: 47px;
  }
  
  .headerWrap .menuWrap {
    display: block;
    max-width: 100%;
    height: 100%;
    position: static;
    background-color: transparent;
  }

  .headerWrap .menuWrap .navHeader {
    display: none;
  }

  .headerWrap .menuWrap .navContent {
    height: 100%;
    padding-top: 0;
  }

  .headerWrap .menuWrap .navContent .mainMenu {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 160px;
  }
  
  .headerWrap .menuWrap .navContent .mainMenu > li {
    width: calc(100% / 4);
    height: 100%;
  }
  
  .headerWrap .menuWrap .navContent .mainMenu .mainTitle {
    height: 100%;
    text-align: center;
    line-height: 100px;
    font-size: var(--font-mlz);
    font-weight: var(--font-bw);
  }
  
  .headerWrap .menuWrap .navContent .mainMenu > li.active {
    background-color: transparent;
    width: calc(100% / 4);
    border-radius: 0;
  }

  .headerWrap .menuWrap .navContent .mainMenu > li.active .mainTitle {
    position: relative;
    background-color: transparent;
    width: 100%;
    border-radius: 0;
    z-index: 0;
  }

  .headerWrap .menuWrap .navContent .mainMenu .subMenuWrap {
    width: 100%;
    height: auto;
    top: 100px;
    left: 0;
    background-color: var(--white-color);
    z-index: 1;
    border-radius: 0;
    padding: 50px;
    gap: 160px;
  }

  .headerWrap .menuWrap .navContent .mainMenu > li.active .subMenuWrap {
    display: none;
  }

  .headerWrap .menuWrap .navContent .mainMenu > li:hover .subMenuWrap {
    display: flex;
  }

  .navContent .mainMenu .subMenuWrap .titleWrap {
    display: block;
  }

  .navContent .mainMenu .subMenuWrap .titleWrap :where(h2, h3) {
    font-weight: var(--font-bw);
  }

  .navContent .mainMenu .subMenuWrap .titleWrap h2 {
    font-size: 50px;
  }

  .navContent .mainMenu .subMenuWrap .titleWrap h3 {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
  }

  .navContent .mainMenu .subMenuWrap .subMenu {
    display: flex;
    flex-grow: 1;
  }

  .navContent .mainMenu .subMenuWrap .subMenu > li {
    width: 100%;
  }

  .navContent .mainMenu .subMenuWrap .subMenu span {
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: 0;
  }

  .navContent .mainMenu .subMenuWrap .subMenu span a {
    height: 100%;
    line-height: 60px;
    font-size: var(--font-mlz);
  }

  .navContent .mainMenu .subMenuWrap .subMenu span button {
    display: none;
  }

  .navContent .mainMenu .subMenuWrap .detailMenu {
    padding-left: 0;
    display: block;
  }

  .headerWrap .menuBg {
    height: calc(100vh - 100px);
    top: 100px;
  }


  .headerWrap .quickMenu {
    width: fit-content;
    padding: 0;
    position: static;
  }

  .headerWrap .quickMenu ul {
    flex-direction: row;
    gap: 30px;
  }

  .headerWrap .quickMenu ul li:last-child {
    margin-left: 0;
    display: none;
  }

  .headerWrap .quickMenu ul li img {
    height: 34px;
  }

  /* 모바일 다른 이모티콘 숨기기 */
  .headerWrap .quickMenu ul li:nth-child(-n+3) {
    display: flex;
  }
}

/* 4k 미디어쿼리 */
@media screen and (min-width: 1441px) and (max-width: 2560px) {

}
