header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
}

.headerWrap {
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 40px;
}

.headerWrap .logoWrap .logo img {
  height: 33px;
  vertical-align: top;
}

.headerWrap .menuWrap {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.headerWrap .menuWrap.active {
  display: block;
}

.headerWrap .menuWrap .navigationWrap {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  max-width: 430px;
  color: #ffffff;
  background-color: var(--white-color);
}

.headerWrap .menuWrap .navigationWrap .navHeader {
  width: 100%;
  height: 80px;
  background-color: var(--main-color);
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menuWrap .navigationWrap .navHeader button {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuWrap .navigationWrap .navHeader button img {
  height: 16px;
}

.menuWrap .navigationWrap .navContent {
  width: 100%;
  height: calc(100% - 80px);
  padding-top: 60px;
  background-color: var(--main-color);
}

.menuWrap .navigationWrap .navContent ul > li {
  width: 100%;
  height: 60px;
}

.menuWrap .navigationWrap .navContent li.active > .mainTitle {
  position: relative;
  width: 160px;
  border-radius: 0 30px 30px 0;
  z-index: 15;
  background-color: var(--sub-color);
}

.menuWrap .navigationWrap .navContent .mainTitle {
  width: 130px;
  height: 100%;
  font-size: var(--font-mlz);
  color: var(--bg-color);
  text-align: center;
  line-height: 60px;
  background-color: var(--main-color);
}

.navigationWrap .navContent .subMenuWrap {
  width: calc(100% - 130px);
  height: calc(100vh - 80px);
  display: none;
  position: absolute;
  right: 0;
  top: 80px;
  background-color: var(--white-color);
  border-radius: 30px 0 0 0;
  z-index: 5;
}

.navigationWrap .navContent .subMenuWrap :where(h2, h3) {
  display: none;
}

.navContent .subMenuWrap .subMenu {
  height: fit-content;
}

.navigationWrap .navContent .subMenuWrap .subMenu > li {
  height: 100%;
}

.navContent .subMenuWrap .subMenu li span {
  width: 100%;
  height: 60px;
  padding: 0 20px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--main-color);
  border-left: none;
  border-right: none;
  background-color: var(--bg-color);
}

.navContent .subMenuWrap .subMenu li:first-child span {
  border-radius: 30px 0 0 0;
}

.navContent .subMenuWrap .subMenu li span a {
  font-size: var(--font-mz);
  font-weight: var(--font-bw);
}

.navContent .subMenuWrap .subMenu li span button {
  display: block;
}

.navContent .subMenuWrap .subMenu li span button img {
  width: 16px;
  aspect-ratio: 1 / 1;
  vertical-align: top;
}

.navContent .subMenuWrap .subMenu .detailMenu > li {
  height: 30px;
  padding-left: 60px;
  line-height: 30px;
}

.navContent .subMenuWrap .subMenu .detailMenu a {
  font-size: var(--font-smz);
}


.navigationWrap .navContent li.active .subMenuWrap {
  display: block;
}

.headerWrap .quickMenu {
  width: 100%;
  height: inherit;
  padding: 0 40px;
  position: absolute;
  top: 0;
  left: 0;
}

/* 태블릿 이후부터 flex-direction: row로 */
.headerWrap .quickMenu ul {
  height: inherit;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.headerWrap .quickMenu ul li {
  width: 30px;
  height: inherit;
  display: flex;
  align-items: center;
}

.headerWrap .quickMenu ul li a {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerWrap .quickMenu ul li img {
  height: 24px;
  vertical-align: top;
}

.headerWrap img:nth-child(2) {
  display: none;
}

/* 모바일 다른 이모티콘 숨기기 */
.headerWrap .quickMenu ul li:nth-child(-n+3) {
  display: none;
}