main section {
  width: 100%;
  margin-bottom: 80px;
  box-shadow: inset 0 0 10px red;
}

main section:nth-child(3), main section:nth-child(5) {
  padding: 0 30px;
}

section .sectionTitle {
  text-align: center;
  font-weight: var(--font-sbw);
  margin-bottom: 40px;
}

section .sectionTitle h2 {
  font-size: 40px;
}

section .sectionTitle h3 {
  font-size: var(--font-lz);
  color: rgba(0, 0, 0, 0.5);
}

#introSection {
  height: 400px;
  position: relative;
}

#introSection .imgWrap {
  width: 100%;
  height: 100%;
  position: relative;
}

#introSection .imgWrap li {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#introSection .imgWrap img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#introSection .alertWrap {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
}

#introSection .alertWrap .notice {
  min-width: 40px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#introSection .alertWrap .notice img {
  width: 22px;
  vertical-align: top;
  aspect-ratio: 1 / 1;
}

#introSection .alertWrap .notice strong {
  display: none;
  color: var(--white-color);
}

#introSection .alertWrap .noticeList {
  height: 100%;
  padding: 0 20px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  flex-grow: 1;
}

#introSection .alertWrap .noticeList li {
  height: 40px;
}

#introSection .alertWrap .noticeList a {
  height: 40px;
  line-height: 40px;
  font-size: var(--font-smz);
  font-weight: var(--font-mw);
  color: var(--white-color);
}

#airportSection {
  overflow: hidden;
}

/* 노트북 이후부터 width: 100% */
#airportSection .guideList {
  width: 300%;
  display: flex;
  margin-left: -100%;
}

/* 노트북 이후부터 padding, bg 없음 */
#airportSection .guideList > li {
  width: calc(100% / 3);
  padding: 0 30px;
  background: url("../img/photo/service-bgImg.jpg") no-repeat 100% 100% / cover;
}

#airportSection .guideList article {
  text-align: center;
  padding: 30px;
  background-color: var(--main-color);
}

#airportSection .guideList .arrive-service {
  background-color: var(--sub-color);
}

#airportSection .guideList .departure-service {
  background-color: var(--content-color);
}

#airportSection .guideList article :where(h3, h4) {
  color: var(--white-color);
  font-size: 30px;
  font-weight: var(--font-sbw);
}

#airportSection .guideList article h4 {
  font-size: var(--font-lz);
}

#airportSection .guideList article ul {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
}

#airportSection .guideList article a {
  width: 100%;
  height: 100%;
}

#airportSection .guideList article img {
  width: 40px;
  height: 40px;
  aspect-ratio: 1 / 1;
  vertical-align: top;
}

#airportSection .guideList article ul p {
  color: var(--white-color);
  margin-top: 4px;
}

#airportSection .guideWrap {
  position: relative;
}

#airportSection .guideWrap .toggleBtnWrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

#trafficSection .trafficInfoWrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#trafficSection .busStateWrap h4 {
  font-weight: var(--font-bw);
  margin-bottom: 10px;
}

#trafficSection .busStateWrap .busState {
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 30px;
}

#trafficSection .busStateWrap .busState li:not(:last-child) {
  margin-bottom: 20px;
}

#trafficSection .busStateWrap .busState .busTitle {
  display: flex;
  justify-content: space-between;
}

#trafficSection .busState .busTitle :where(strong, p) {
  font-weight: var(--font-sbw);
}

#trafficSection .busState .busTitle p {
  font-size: var(--font-sz);
}

#trafficSection .busStateWrap .busState .progress {
  width: 100%;
  height: 10px;
  border-radius: 20px;
  background-color: #D9D9D9;
}

#trafficSection .busStateWrap .busState .progressing {
  width: 90%;
  height: 10px;
  border-radius: 20px;
  background-color: #DC143C;
}

#trafficSection .busState .trafficNotice {
  padding: 30px 0;
  border-top: 1px solid var(--main-color);
  margin-top: 30px;
}

#trafficSection .busState .trafficNotice li {
  list-style: disc;
  margin-left: 20px;
}

#trafficSection .trafficWrap ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

#trafficSection .trafficWrap li {
  aspect-ratio: 1 / 1;
  padding: 10px;
  background-color: var(--bg-color);
  border-radius: 10px;
  position: relative;
}

#trafficSection .trafficWrap li a {
  width: 100%;
  height: 100%;
}

#trafficSection .trafficWrap li p {
  display: none;
}

#trafficSection .trafficWrap li img {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  aspect-ratio: 1 / 1;
}


#tipSection {
  padding: 30px 0;
  background-color: var(--main-color);
}

#tipSection h2 {
  color: var(--white-color);
}

#tipSection h3 {
  color: rgba(249, 252, 255, 0.5);
}

#tipSection .tipList {
  display: flex;
  gap: 30px;
  overflow-x: auto;
}

#tipSection .tipList::-webkit-scrollbar {
  display: none;
}

#tipSection .tipList li {
  background: no-repeat 50% 100% / cover;
  min-width: 140px;
  height: 280px;
  border-radius: 60px;
  padding: 20px;
}

#tipSection .tipList li a {
  width: 100%;
  height: 100%;
}

#tipSection .tipList :where(h4, p) {
  color: var(--white-color);
  font-weight: var(--font-sbw);
  text-align: center;
}

#tipSection .tipList li:nth-child(even) a {
  display: flex;
  flex-direction: column-reverse;
}

#tipSection .tipList li:nth-child(1) {
  background-image: url("../img/photo/tip-restaurant.jpg");
}

#tipSection .tipList li:nth-child(2) {
  background-image: url("../img/photo/tip-shopping.jpg");
}

#tipSection .tipList li:nth-child(3) {
  background-image: url("../img/photo/tip-pet.jpg");
}

#tipSection .tipList li:nth-child(4) {
  background-image: url("../img/photo/tip-lounge.jpg");
}

#tipSection .tipList li:nth-child(5) {
  background-image: url("../img/photo/tip-play.jpg");
}

#tipSection .tipList li:nth-child(6) {
  background-image: url("../img/photo/tip-notice.jpg");
}

#tipSection .tipList li:nth-child(even) {
  margin-top: 70px;
}

#flightSection .flightList {
  border: 1px solid var(--main-color);
  padding: 20px;
  min-height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#flightSection .flightList strong {
  font-weight: var(--font-mw);
  margin-top: 4px;
}

footer {
  background-color: #222222;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer img {
  height: 32px;
}

footer p {
  color: var(--white-color);
}